<div class='theform'>
  <form action="/" method="POST">
    <p>Just enter the details below and generate :)</p>
    <input type="text" placeholder="how many?" id="thecount" name="thecount"><br>
    <input type="radio" name="contenttype" class="form-radio" value="words"> Word(s)<br>
    <input type="radio" name="contenttype" class="form-radio" value="sentences"> Sentence(s)<br>
    <input type="radio" name="contenttype" class="form-radio" value="paragraphs"> Paragraph(s)<br>
    <input type="submit" value="Generate Lorem Ipsum" class="button">
  </form>
</div>      